 *{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* ------------------HEADER------------------- */

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: #fc997c;;
    padding: 5px;
    
}

.main{
    margin-top: 35px;
}


/* -----------------HEADER LOGO---------------- */
 
.sectionlogo{
    display: inline-block;
}

.logo{
    text-decoration: none;
    color: white;
    padding-left: 25px;
    font-size: 23px;
}

.link:last-child{
    display:none;
}

@media(max-width:600px){
    .link{
        display:none;
    }
    .logo{
        display: inline-block;
    }
    .link:last-child{
        display:block;
    }
    .mobil .link{
        display:block;
        text-align: left;
        margin: 1rem;

    }
    .mobil .link:last-child{
      position: absolute;
      right: 10px;
      top: 6px;

    }
}

 


/* ----------------HEADER LİNK------------------- */

.navheader{
    display: inline-block;
    width: calc(100% - 130px);
    text-align: right;
    
}
.link{
    padding-left: 15px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* -----------------Links Edit------------------- */



.navheader a:hover{
    color: aqua;
}
.navheader a:active{
    color: white;
}


.navheader .loginlink::before {
    content: none;
  }

.navheader .loginlink{
    background-color: rgb(85, 85, 235);
    border: 3px solid white;
    border-radius: 15px;
}
.navheader .loginlink:hover{
    color: rgb(85, 85, 235);
    background-color: white;
    border: 4px solid black;
}

/* -------------------TİTLE 1 ------------------------ */

.title1{
    height: 40vh;
    font-size: 18px;
    background-image: url(bg.jpeg),
    linear-gradient(to bottom,rgba(252, 153, 124,0.2),rgba(250, 81, 30,0.2) );
    background-attachment: fixed;
    background-size: cover;    
    background-position: center;
    position: relative;
}

.title-full{
    position: absolute;
    font-size: 17px;
    background: rgba(46, 76, 109, 0.3);
    margin: 0;
    left: 50%;
    top: 50%;
    color: #edf5f7;
    transform: translate(-50%, -50%);
}



/* -------------------TİTLE 2 -----------------------*/

.text1{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.text1 h2{
    color: cadetblue
}

.text2{
    display: inline-block;
    width: 33%;
    padding: 80px;
}

.title2 h3{
    font-size: 30px;
    text-align: center;
    color: cadetblue

}
.title2 p{
    text-align: center;
    font-size: 18px;
}
.title2 i{
    width: 100%;
    text-align: center;
    color: #fc997c;
    padding-bottom: 10px
    
}

/* -----------------------FOOTER ------------------------ */

.kolon {
    display: inline-block;
    width: calc(50% - 2px);
    height: 350px;
    background-color: aqua;
    vertical-align: top;
   
  }

  .resim {
    background: url(pictures.jpeg),
    linear-gradient(to bottom,rgba(252, 153, 124,0.2),rgba(250, 81, 30,0.2) );
    background-size: cover;
    background-position: center;
    background-position: top center;
  }

  .sağyazı {
    display: inline-block;
    background-color: #edf5f7;
    padding: 40px;
    vertical-align: top;
   
  }
  .sağyazı h3{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .sağyazı p{
    font-size: 22px;
    margin-bottom: 30px;
  }
  .sağyazı a{
    font-size: 20px;
    background-color: #fc997c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 25px;
    transition-duration: .6s;

  }
  .sağyazı a:hover{
    color: #fc997c;
    background-color: #fff;
    border: 3px solid  #fc997c; ;
  }


  /* --------------------------------planlar-------------------------------- */


   .h2-plans{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 13px;
   }

   .plan{
    float: left;
    text-align: center;
    padding: 10px;
    width: 33.3%;
    
   }

   .plan button{
    margin-top: 20px;
   }
   .clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    
    width: 100%;
}

.inner-plan{
    background-color: #c1e1e9;
    padding: 40px ;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow .4s;
}
.inner-plan:hover{
    box-shadow: rgba(0, 0, 0, 0.80) 0px 3px 8px;
}




.plan-badge{
    background-color: #fff;
    color: #fc997c;
    padding: 8px;
    margin-bottom: 13px;
    border-radius: 6px;
    

}
.recommended-plan{
    color: #fff;
    background-color: rgb(58, 73, 216) !important;
    position: relative;
    bottom:  10px;
   
}

.recommended-plan:hover{
    bottom:  15px;
    transition: .3s;
}


.plan-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.plan-ul li{
    margin: 10px 0 ;
}

#backtotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#backtotop i{
    color: #fc997c;
    font-size: 45px;
    transition: color .6s;
}

#backtotop i:hover{
    color: #fc6537;
}



/* -------------------- about ------------- */


.col-3{
    float: left;
    width: 33.3%;
    text-align: center;
}

.counter{
    background: linear-gradient(to bottom,#fc997c 0% , #fc8b69 100% );
    text-align: center;
    padding: 70px;
}

.counter h4{
    color: white;
}
.counter span{
    color: white;
}



/* --------------------- cards ----------------- */

.cards h2{
    font-size: 35px;
    text-align: center;
    padding: 30px;
}

.cards p{
    font-size: 17px;
    text-align: center;
    padding: 20px;
}



.card{
    float: left;
    width: 32.3%;
    text-align: center;
    border: 3 px solid black;
    background-color: #edf5f7;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.containers{
    margin:  auto;
    width: 1100px;
}

.card:hover{
    position: relative;
    transform: translateY(-20px);
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 3px 8px;

}

.card__img{
    padding: 0px;
    max-width: 100%;
    position: relative;
}

.card_full{
    background-color: #fc6537;
}

.card button{
    background-color: #fc6537;
    font-size: 19px;
    border: 3 px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}

.cards button:hover{
    background-color: #edf5f7;
    color: #fc6537;
}



/* -----------------footer-------------- */

footer{
    background-color: #584fd3;
    height: 90px;
    margin-top: 50px;

}



.container .f1{
    display: inline-block;
    float: left; 
    font-size: 25px;
}
.container .f2{
    display: inline-block;
    font-size: 39px;
    float: right; 
    list-style-type:none;
    color: #c1e1e9;
}

.col-2{
    list-style-type:none;
    
}


.f1 li{
    display: inline-block;

}
.f2 li{
    
    display: inline-block;
    text-align: center;
    color: #c1e1e9;
}

.f2 a{
    color: #c1e1e9;
    display: inline-block;
    list-style-type:none;
    text-decoration: none

}

.f1 a{
    color: #c1e1e9;
    display: inline-block;
    text-decoration: none
}

.col-2 ul{
    display: inline-block;
}

/* ============ media ======================== */

@media (max-width:576px){
    .container{
        margin: 0 auto;
        width: 540px;
    }
    .title1{
        height: 50vh;
    }
    .title-full{
        font-size: 20px;
    }

    .sağyazı h3{
        font-size: 20px;
    }
    

}
@media (min-width:768px){
    .container{
        margin: 0 auto;
        width: 720px;
    }
    .title1{
        height: 60vh;
    }
    .title-full{
        font-size: 23px;
    }

    .sağyazı h3{
        font-size: 20px;
    }


}
@media (min-width:992px){
    .container{
        margin: 0 auto;
        width: 960px;
    }
    .title1{
        height: 65vh;
    }
    .title-full{
        font-size: 27px;
    }

    .sağyazı h3{
        font-size: 20px;
    }

}
@media (min-width:1200px){
    .container{
        margin: 0 auto;
        width: 1140px;
    }
    .title1{
        height: 68vh;
    }
    .title-full{
        font-size: 30px;
    }
   

}
@media (min-width:1400px){
    .container{
        margin: 0 auto;
        width: 1320px;
    }
    .title1{
        height: 70vh;
    }
    .title-full{
        font-size: 35px;
    }
    
    
}


@media (max-width:768px){
 .card,.plan,.kolon,.h2-plans,.view-button,.sağyazı,.text1,.text2{
    width: 100%;
 }
.containers{
    width: 300px;
}



}



